// $color-primary: #481380;
// $color-secondary: #742dd2;

// $color-secondary-lighter: #ffe2ff;
// $color-secondary-light: #efb1ff;

$color-primary: #c9d6df;
$color-secondary: #52616b;

$color-secondary-lighter: #f0f5f9;
$color-secondary-dark: #1e2022;